{% extends "template.html" %}
{% block content %}
<!-- <div class="jumbotron mb-0 pt"> -->
<div class="jumbotron bg-white">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="display-4">Welcome to <span class="text-info">LeggoDutch</span></h1>
    <p class="lead">The perfect application to help you split your bills and recipts with other people</p>
    <hr class="my-4">
    <p>All you need is an image of your receipt and LeggoDutch will help you break it down to items that can be charged to different people! It is that easy to go dutch with others!</p>
    <a href="{{ url_for('get_main_data') }}" class="btn btn-info">Get started!</a>
  </div>
  </div>
  <div class="col-md-2"></div>

</div>

{% endblock content %}
